.container {
  font-family: "notosans";
}

.container.row {
  font-family: "nanum, igrasans";
}

.card-button {
  display: flex;
}

.num {
  display: flex;
  width: 100%;
}

#page_num {
  font-size: 1em;
  margin: 0 auto;
}
#page_num ul li {
  margin-left: 10px;
}
.fo_re {
  font-weight: bold;
  color: rgb(29, 0, 194);
}
